link(rel='stylesheet', href="/stylesheets/socketIO_chat_home.css", type="text/css")
div.header
  span.name Hi, #{user.name} 你好！
  span.logout 退出
script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/javascripts/jquery_validate.js")
script(src="/javascripts/socketIO_chat_home.js")
