div.header
  div.bar.logo
    a.back_to_index(href="/socketIO_chat/home") 回到主页
  div.bar.header_bar
    span.name Hi, #{user.name} 你好！
    a.my_articles(href="/blog/#{user.name}") 我的文章
    span.logout 退出
