#foo foo
.bar bar
p
  | foo bar baz
  | rawr rawr
  | super cool
  | go jade go
div
  p name: #{name}
  p age: #{age}
script(src="bower_components/jquery/dist/jquery.min.js")
script(src="javascripts/index.js")
