link(rel='stylesheet', href="https://static.qiyun.360.cn/static/datatable/jquery.dataTables.css", type="text/css")
div#wrapper
  table#example.display(cellspacing="0",width="100%")
    thead
      tr
        th First name
        th Last name
        th Position
        th Office
        th Start date
        th Salary
script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="https://static.qiyun.360.cn/static/datatable/jquery.dataTables_61764be.js")
script(src="/dist/datatable.js")
