link(rel='stylesheet', href="stylesheets/socket_chat.css", type="text/css")
ul#messages
form(action="")
  input#m(autocomplete="off")
  button send
script(src="bower_components/jquery/dist/jquery.min.js")
script(src="javascripts/socket.io.js")
script(src="javascripts/socket_chat.js")
